.weather-app {
    margin: 0 35px;
}

.titles-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 21px;
    color: white;
}