.forecast-summary {
    border: solid 1px rgb(33, 209, 159);
    background-color: #dfdfdf;
    padding: 8px;
    text-align: center;
}

i {
    font-size: 50px;
    font-weight: 100;
    padding: 20px 10px 20px 10px;
}

.forecast-summary > button {
    font-family: 'Cutive Mono', monospace;
    border: solid 1px rgb(33, 209, 159);
    background-color: #dfdfdf;
    color: black;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
    margin: 6px 0px 4px 0px;
}

.forecast-summary > button:hover {
    border: solid 1px rgb(2, 120, 120);
    background-color: #eceef1;
}