@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

body {
  font-family: 'Inconsolata', monospace;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../../../../Pictures/images/ferdinand-stohr-iW1WzbuWMcA-unsplash.jpg");
  background-size: 100% 100vh;
}