.search-form > button, input  {
    border: solid 1px rgb(33, 209, 159);
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
}

.search-form > button {
    margin-left: 10px;
}

.search-form > button:hover {
    border: solid 1px #028090;
    background-color: white;
    color: #037180;
}
